.container
{
    margin-top: 80px;
    margin-left: 30px;
    height: 600px;
    width: 1000px;
    border: 2px solid black;
    
}
.play
{
    float: left;
padding: 20px;
font-size:50px;
cursor: pointer;
margin-top: 30px;


}
.text
{
    border: 1px solid blue;
    width: 200px;
    padding: 10px;
    margin-top: -5px;
    margin-left: 20px;
    font-size: 25px;
    float: left;
    
    margin-top: 50px;
}
.button
{
    float: left;
    margin-left: 50px;
}
.noun
{
    background-color: #0092FF;
    height: 35px;
    width: 100px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    float: left;

}
.verb
{
    background-color: #12FFAD;
    height: 35px;
    width: 100px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    float: left;
    margin-left: 10px;

}
.content
{
    margin-left: 25px;
   
   
}
.left
{
    float: left;
}
